attrs==19.3.0
certifi==2019.11.28
chardet==3.0.4
Click==7.0
coverage==4.5.4
dataclasses==0.7
fastapi==0.44.1
h11==0.8.1
httptools==0.0.13
idna==2.8
importlib-metadata==1.2.0
more-itertools==8.0.1
morelia==0.9.2
packaging==19.2
parse==1.12.1
pkg-resources==0.0.0
pluggy==0.13.1
py==1.10.0
pydantic==1.2
pyparsing==2.4.5
pytest==5.3.1
requests==2.22.0
six==1.13.0
starlette==0.12.9
toml==0.10.0
urllib3==1.25.7
uvicorn==0.11.7
uvloop==0.14.0
wcwidth==0.1.7
websockets==8.1
zipp==0.6.0
